<link type="text/css" href="{{asset "css/feature.css"}}" rel="stylesheet" />

<div class="owl-carousel owl-theme">
    {{#get "posts" filter="featured:true" limit="4"}}
      {{! Loop through our posts collection }}
      {{#foreach posts}}
        {{#if featured}}
        <a href="{{url}}">
          <div class='carousel-row' style='background: url({{image}})'>
            <!-- <a href="{{url}}">
              <img src="{{image}}" class="img-responsive center-block carousel-img"/>

              <div class="carousel-caption">
                <h3>{{title}}</h3>
              </div>
            </a> -->
            <!-- <div class='row head-container' style='background: url({{@blog.cover}})'> -->
              <!-- <div class='col text-center'> -->
                <div class="carousel-caption">
                  <h2>
                    {{title}}
                  </h2>
                </div>
              <!-- </div> -->
            <!-- </div> -->
            </div>
          </a>



        {{/if}}
      {{/foreach}}
    {{/get}}
</div>
