<link type="text/css" href="{{asset "css/main-footer.css"}}" rel="stylesheet" />

<div class='container-fluid'>
	<div class='row main-footer' style='background: url({{@blog.cover}})'>
		<div class='col col-xs-12 text-center'>
			<section class='footer-menu'>
	      <a href="http://facebook.com/godreamaction" target="_top"><small>facebook</small></a>
	      |
	      <a href="https://twitter.com/godreamaction" target="_top"><small>twitter</small></a>
	      |
	      <a href="https://www.youtube.com/c/Dreamactiongo" target="_top"><small>youtube</small></a>
	      |
	      <a href="http://dreamaction.co/aboutme/" target="_top"><small>about</small></a>
	      |
	      <a href="http://dreamaction.co/contact/" target="_top"><small>contact</small></a>
			</section>
			<section class='footer-logo'>
				{{#if @blog.logo}}
				<a href="{{@blog.url}}">
					<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
				</a>
				{{/if}}
			</section>
			<section class="copyright">
				<a href="{{@blog.url}}">
					{{@blog.title}}
				</a>
				&copy; {{date format="YYYY"}}
			</section>
		</div>
	</div>
</div>
