<link type="text/css" href="{{asset "css/main-post.css"}}" rel="stylesheet"/>

{{! Previous/next page links - only displayed on page 2+ }}

{{#is "paged"}}
  {{pagination}}
{{/is}}

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<div class='row main-post {{post_class}}'>
  <div class='col col-md-12 post-container' style="{{#if image}}background-image: url({{image}}){{else}}background-image:url({{@blog.cover}}){{/if}}"> 
    {{#if featured}}
    <div class='featured'>
      <span class='fa fa-star'></span>
    </div>
    {{/if}}
    <div class='title'>
      <a href="{{url}}">
        <h2>
          {{title}}
        </h2>
      </a>
      {{#author}}
      <div class='visible-sm-block visible-xs-block'>
        <a href="{{url}}">
          {{#if image}}
            <img class='img-circle' src="{{image}}" alt="{{name}}">
          {{/if}}
          <span>{{name}}</span>  
        </a>
      </div>
      {{/author}} 
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><p><span class='fa fa-calendar'></span> &nbsp&nbsp{{date format="MMMM D, YYYY"}}</p></time>
    </div>

    {{#author}}
      <div class='author visible-md-block visible-lg-block'>
        <a href="{{url}}">
          {{#if image}}
            <img class='img-circle' src="{{image}}" alt="{{name}}">
          {{/if}}
          <span>{{name}}</span>  
        </a>
      </div>
    {{/author}}  
    <div class='tags text-right'>
      <p>{{tags}}</p>
    </div>
  </div>

  <div class=' col col-md-12'>
    <div class='row excerpt text-center'>
      <div class='col col-xs-12'>
        <span class='fa fa-quote-left'></span> 
        <p>{{excerpt}}</p>
      </div>
      <div class='col col-xs-12 text-center readmore'>
        <a href="{{url}}">  
          <h4>READ MORE</h4>
        </a>    
      </div>
    </div>
  </div>  
</div>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
