<link type="text/css" href="{{asset "css/main-post.css"}}" rel="stylesheet"/>

{{! Previous/next page links - only displayed on page 2+ }}
{{! This is the post loop - each post will be output using this markup }}
  <div class='row main-post {{post_class}}'>
    {{#foreach posts}}
      <div class='col col-xs-12 col-sm-6 col-md-4 post-container'>
        <a href='{{url}}'  title="{{title}}">
          <div style="{{#if image}}background-image: url({{image}}){{else}}background-image:url({{@blog.cover}}){{/if}}" class="col tag-post">
            <h4>{{title}}</h4>
          </div>
        </a>
      </div>
    {{/foreach}}
  </div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
