<div class='row row-eq-height main-tag-container'>
    {{#get "tags" filter='name:ACTION,name:PERSPECTIVES'}}
        {{#foreach tags}}
            <a href='{{url}}'  title="{{name}}" class="tag-{{id}} ">
            <div style="background-image: url({{image}});" class='col col-xs-12 col-sm-6 tag'>
                <section class='content'>
                    <h4>{{name}}</h4>   
                    <p>{{description}}</p>  
                </section>
            </div>
            </a>
        {{/foreach}}
    {{/get}}
</div>