<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#if @blog.logo}}<a class="blog-logo navbar-brand" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      <!-- <a class="blog-logo navbar-brand" href="{{@blog.url}}"><h4 class='main-logo'>{{@blog.title}}</h4></a> -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{navigation}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>