<!DOCTYPE HTML>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="z9-UmMqRwPZ_tBT02Pg-61a23P-NhXM05VRBzuN3J_w" />
    <meta name="msvalidate.01" content="200B3436CBA39588611FE7F1BAC647DA" />
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/navbar.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main-footer.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main-tag.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main-post.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/detail-post.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/sidebar.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/pagination.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/author.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    

    <meta property="fb:app_id" content="214316472233662" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '214316472233662',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <header>
  {{> "navbar"}}
  </header>

  {{! Everything else gets inserted here }}
  {{{body}}}
  
  {{> "footer"}}
  

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js" async></script>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
  

  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}" async></script>
  {{! The main JavaScript file for Casper }}
  <script type="text/javascript" src="{{asset "js/index.js"}}" async></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" async></script>
</body>
</html>
