<link type="text/css" href="{{asset "css/portfolio-service.css"}}" rel="stylesheet"/>

{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class='container-fluid'>
  <div class="row post-content-row" role="main">
    <div class='jumbotron col col-xs-12'>


      <div class="row text-center">
        <h1>Portfolio Services</h1>
        <h3>มาสร้างพอร์ตฟอลิโอสุดเจ๋ง ที่จะพาคุณไปถึงฝัน</h3>
        <!-- <div class="col col-xs-12 video">
          <div class='embed-container'><iframe width="560" height="315" src="https://www.youtube.com/embed/xVGgHYqVb7w?showinfo=0" frameborder="0" allowfullscreen></iframe></div>
        </div> -->
        <div class="col col-sm-4">
          <img class='img img-circle'src="{{asset 'images/create.png'}}">
          <h2>CREATE</h2>
          <p>ทำ Portfolio เทพๆ ในแบบคุณ</p>
        </div>
        <div class="col col-sm-4">
          <img class='img img-circle'src="{{asset 'images/unleash.png'}}">
          <h2>UNLEASH</h2>
          <p>ดึงพลัง และ ศักยภาพในตัวคุณ ให้แสดงออกมาทาง Portfolio</p>
        </div>
        <div class="col col-sm-4">
          <img class='img img-circle'src="{{asset 'images/shuriken.png'}}">
          <h2>TECHNIQUES</h2>
          <p>พบเทคนิค และ เคล็ดลับที่หาไม่ได้ใน Internet ที่สามารถเอาไปใช้ได้มากกว่าแค่ Portfolio</p>
        </div>
      </div>

      <div class='row text-center'>
        <a href="/apply" onClick="ga('send', 'event', 'top-going-to-apply', 'top-going-to-apply');">
          <button type="button" class="btn custom-btn" >Free Flip Test</button>
        </a>
      </div>
    </div>
  </div>

  <div class='row port-menu choice-container text-center'>
      <div class='col col-md-12 text-center'>
        <h2>ลองดู Workshop และ โปรแกรม ที่เหมาะกับความต้องการของคุณที่นี่</h2>
      </div>

      <div class="col col-sm-6 text-center">
        <a href="#fliptest">
          <div class='col col-xs-12 service-choice'>
            <img class='img free'src="{{asset 'images/free.png'}}">
            <img class='img img-circle'src="{{asset 'images/flip-test.png'}}">
            <h3>Flip Test</h3>
            <p>
              คุณคิดว่าจะได้คะแนนเท่าไหร่ หลังจากดู Portfolio ครั้งแรก ภายใน 1 นาที?
              คะแนนของ Flip Test เป็นตัวบอก ระดับความเจ๋งของ Portfolio ของคุณ
            </p>
            <p>
              คุณกล้าลองหรือเปล่า?
            </p>
          </div>
        </a>
      </div>
      <div class="col col-sm-6 text-center">
        <a href="#port-critique">
          <div class='col col-xs-12 service-choice'>
            <img class='img img-circle'src="{{asset 'images/portfolio-review.png'}}">
            <h3>Portfolio Review</h3>
            <p>
              คุณอยากให้ Portfolio ของคุณดูดีดูเด่นกว่าคนอื่นๆ คุณอยากหาคนมาช่วยดู ช่วยวิจารณ์ Portfolio ของคุณว่าควรต้องปรับอะไรบ้าง
              มันจะไม่ใช่ฝันลมๆแล้งๆอีกต่อไป พบคำแนะนำจาก สถาปนิกมากประสบการณ์
              เพื่อพัฒนา Portfolio ของคุณไปสู่ความเทพ
            </p>
          </div>
        </a>
      </div>
      <!-- <div class="col col-md-3 text-center">
        <a href="#beginner-port-workshop">
          <div class='col col-md-12 service-choice'>
            <img class='img img-circle'src="http://placehold.it/150x150">
            <h3>Portfolio Workshop I</h3>
            <p>
              ไม่รู้จะเริ่มยังไง? ไม่มีพอร์ตมา
              ก่อน? เริ่มที่นี่เลย! สอนพื้นฐานการทํา portfolio แนวคิดวิธีการเล่าเรื่อง และ โปรแกรมพื้นฐานที่จําเป็นในการทําพอร์ตฟอลิโอ
            </p>
          </div>
        </a>
      </div> -->
      <!-- <div class="col col-md-3 text-center">
        <a href="#intermediate-port-workshop">
          <div class='col col-md-12 service-choice'>
            <img class='img img-circle'src="http://placehold.it/150x150">
            <h3>Portfolio Workshop II</h3>
            <p>
              ยกเครื่อง วางแผนและ
              ปรับPortfolioใหม่ ร่วมกับโค้ช
              ที่เป็นสถาปนิก ผู้เชี่ยวชาญ
              ทั้งในการทํา และ การคัดเลือก
              ที่ให้คุณทําพอร์ตที่เทพได้ในสไตล์คุณ
            </p>
          </div>
        </a>
      </div> -->
    </div>

    <div class="row port-menu text-center">
      <a class='end' href="#faq">
        <h1>
          FAQs
        </h1>
        <p>
          คำถามที่ถามบ่อย
        </p>
      </a>
    </div>
</div>
    <div id='fliptest' class="container-fluid">
      <div class="row">
        <div class='container'>
          <div  class='row detail-container'>
            <div class='col col-md-4 col-sm-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-banner.png'}}">
            </div>

            <div class='col col-md-8 col-sm-12'>
              <h2>FLIP TEST <img class='img free'src="{{asset 'images/free.png'}}"></h2>
              <hr>
              <h3>Flip Test คืออะไร?</h3>

              <p>
                Flip test คือ ลักษณะในการดู Portfolio มันคือ ขั้นตอนการกรองจำนวนผู้เข้าสมัครในรอบแรก ส่วนมากจะมาในรูปแบบที่ผู้ดูใช้เวลาน้อยมากในการดู Portfolio ของเราประมาณไม่เกิน 1 นาที
              </p>
              <h3>Flip Test สำคัญอย่างไร?</h3>
              <p>
                เวลาเราสมัครงานหรือเรียนในที่ที่มีการแข่งขันสูง หรือบริษัทที่ได้รับเอกสารสมัครงานมาเยอะมาก แต่กรรมการผู้คัดเลือกมีเวลาจำกัดไม่สามารถให้เวลากับรายอะเอียดใน Portfolio ของคุณ ประกอบกับเค้าสามารถรับคนมาทำงานหรือเรียนได้จำนวนจำกัด ซึ่งก็คือ กรณีปกติทั่วไป ที่เรียกว่า “ไม่มีเวลา” นั่นแหละค่ะ
              </p>

              <p>
              ถ้าไม่มีระบบการคัดเลือกซับซ้อนมาก ก็แค่ ผ่าน แล้วเอาไปดูรายละเอียดต่อ ในด่านต่อไป ถ้าไม่ผ่าน ก็..บ๊ายบายยยยย~~
              </p>
              <p>
              แต่ถ้าบางที่ ที่มีระบบซับซ้อน เช่น ที่ที่รับฝึกงานจากทั่วโลก จะมีการคัดและแยกตามกลุ่มของคะแนนค่ะ เช่น ดีมาก ปานกลาง น้อย เพื่อให้กรรมการผู้คัดเลือกในด่านต่อไป เรียงลำดับความสำคัญว่า ควรเริ่มดูจากกลุ่มไหนก่อน เพื่อจะได้ค้นหาคนได้ทัน ในเวลาที่จำกัด
              </p>

              <p>
              การออกแบบ Portfolio ให้ดูดี และประทับใจตั้งแต่ในการดู 1 นาทีแรก หรือใน Flip Test จึงเป็นสิ่งที่สำคัญมาก โดยเฉพาะการส่งไปในที่ที่การแข่งขันสูงค่ะ
              หรือ แม้แต่บริษัทที่การแข่งขันไม่สูง ที่เค้าตั้งใจดูงานเราตั้งแต่แรก การที่ออกแบบ Portfolio ที่สวย อ่านง่าย และสื่อสารได้ดี ตั้งแต่ Flip Test นั้น มีแต่ได้กับได้ คือ มีแต่ข้อดีค่ะ
              </p>
            </div>

            <div class='col col-xs-12'>
              <h3>ผลลัพธ์จาก Flip Test Score</h3>
              <h4>
              Dream Action แบ่งคะแนนออกเป็นดั่งต่อไปนี้ตามคุณภาพ จากสเกล 0-5 จากมุมมองของกรรมการผู้คัดกรอง Portfolio ว่าเค้าสนใจในตัวคุณแค่ไหนค่ะ
            </h4>
            </div>

            <div class='col col-md-2 col-sm-6 col-xs-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-scale-0.png'}}">
              <p>
              0 : ไม่เอา
              </p>
            </div>
            <div class='col col-md-2 col-sm-6 col-xs-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-scale-1.png'}}">
              <p>
              1 : ไม่ใช่ตอนนี้
              </p>
            </div>
            <div class='col col-md-2 col-sm-6 col-xs-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-scale-2.png'}}">
              <p>
              2 : เกือบได้แล้ว
              </p>
            </div>
            <div class='col col-md-2 col-sm-6 col-xs-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-scale-3.png'}}">
              <p>
              3 : พอมีความเป็นได้ น่าสนใจอยู่
              </p>
            </div>
            <div class='col col-md-2 col-sm-6 col-xs-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-scale-4.png'}}">
              <p>
              4 : ดีนะ
              </p>
            </div>
            <div class='col col-md-2 col-sm-6 col-xs-12 text-center'>
              <img class='img img-responsive'src="{{asset 'images/flip-test-scale-5.png'}}">
              <p>
              5 : ต้องรับ!
              </p>
            </div>


            <div class='col col-md-8'>
              <h3>ทีนี้ เลเวลไหนที่จะได้งาน ? </h3>

              <p>
                อันนี้ขึ้นอยู่กับว่าคู่แข่งเยอะแค่ไหน และตอนนั้นเค้าเร่งหาคนแค่ไหน นึกออกไหม เอางี้นะ
              </p>


              <p>
              Lucky Scenario : ถ้าจะเอาคนพรุ่งนี้แล้ว แต่มีคนส่งมาคนเดียว และเป็น 2 เค้าก็อาจจะรับก็ได้นะ
              </p>

              <p>
              General Scenario : คนสมัครกลางๆ มีเวลาดูเยอะ ช่วง 3-5 เอาอยู่
              </p>

              <p>
              Worst Case Scenario : คนสมัครเยอะมาก เวลาดูน้อยมาก เค้าจะเน้นดูแค่  4-5
              </p>

            </div>
            <div class="col col-md-4">
              <img class='img img-responsive'src="{{asset 'images/scenario.png'}}">
              <!-- <img class='img' src="http://placehold.it/350x200"> -->

            </div>

            <div class="col col-md-12">
              <p>ระยะเวลารอ : 2~3 วัน</p>
            </div>
            <div class="col col-md-12">
              <p>
                Flip test ก็เหมือนการเทสวัดระดับน่ะแหละ มาดูกันว่า Portfolio ของเราผ่านเข้าไปได้แบบชิลชิล หรือว่า ยังต้องพัฒนาเพิ่ม 
                มาตรฐานที่ Dream Action จะใช้ในการคัดเลือก คือมาตรฐานที่ใช้ในการคัดเลือกงานจริง ระดับบริษัทใหญ่แนวหน้าในประเทศ สหรัฐอเมริกา
              </p>
              <p>
                ถ้าได้ Flip Test Score ดี ก็ลุยสมัครได้เลยอย่างมั่นใจ แต่ถ้ายังหวิดๆไม่แน่ว่าจะได้หรือไม่ ก็ตั้งหลักปรับใหม่ ทำมันให้เจ๋งยิ่งขึ้น!!
                คุณภาพที่เห็นได้ตั้งแต่ไม่กี่วินาทีแรก สำคัญนะ เพราะ ถ้าโอกาสแรกของเรามันเริ่มต้นที่นาทีแรก และอาจจะมีให้เราแค่เท่านี้ ทำไม..เราไม่ใช้มันให้เต็มที่ที่สุด เพื่อให้กรรมการประทับใจ และไม่ต้องลังเลใจ ว่าจะเลือกให้เรา “ได้ไปต่อ” หรือ “จบแค่ 1 นาที”
                คุณกล้าลองไหม? ..ลอง Flip Test เลย ฟรี!!
              </p>
            </div>

            <div class='col col-md-12 call-to-action'>
              <div class='col col-md-3 img-col'>
                <img class='img img-circle img-responsive'src="{{asset 'images/flip-test-250.png'}}">
              </div>
              <div class='col col-md-9'>
                <h2>
                  อยากรู้ว่าจะได้ Flip Test Score เท่าไร ส่ง Portfolio ของคุณมาหาเราได้ที่นี่เลยค่ะ (Free)
                </h2>

                <a href="/apply" onClick="ga('send', 'event', 'fliptest-going-to-apply', 'fliptest-going-to-apply');">
                  <button type="button" class="btn custom-btn" >ส่ง</button>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class='container-fluid'>
      <div id='port-critique' class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-sm-12 col-md-4 col-md-push-8'>
              <img class='img img-responsive' src="{{asset 'images/portfolio-review-banner.png'}}">
            </div>
            <div class='col col-sm-12 col-md-8 col-md-pull-4'>
              <h2>Portfolio Review</h2>
              <hr>
              <h3>Portfolio Review คืออะไร?</h3>
              <p>
                Portfolio Review คือ บริการที่จะช่วยแนะนำและพัฒนา Portfolio ของคุณไปให้ไกลจากจุดเดิมที่คุณเป็น และ ค้นพบโอกาสในการดึงศักยภาพในงานของคุณ ให้ออกมาเฉิดฉาย โชว์ให้ชาวโลกได้เห็นอย่างไม่ต้องอาย เจอใครใคร ก็อยากจะยื่น Portfolio ให้แล้วบอกไป “ดูไหม? นี่ Portfolio ฉัน!!”
              </p>
              <p>
                Portfolio Review ประกอบไปด้วย การรีวิว ให้คำแนะนำติชม Portfolio บอกจุดแข็งและจุดอ่อนโดยละเอียดรวมไปถึงวิธีการแก้ไขปรับปรุง Portfolio ทั้งในด้านภาพรวม และ รายละเอียด เพื่อให้มีคุณภาพที่ดียิ่งขึ้น เพื่อเป็น Portfolio ที่บอกเรื่องราวของคุณได้อย่างชัดเจน น่าประทับใจ และเหมาะกับเป้าหมายที่จะสมัคร ไม่ว่าจะสมัครงาน หรือ สมัครเรียน
              </p>

              <h3>Portfolio Review สำคัญ อย่างไร</h3>
              <p>
                ในการได้รับ Portfolio Review คุณจะได้รู้ถึงผลตอบรับ และ แนวทางพัฒนา ในการทำ Portfolio ของ”คุณ” 
              </p>
              <p>
                <strong>From Professionals’ eyes :</strong> คุณจะได้รู้ถึงผลตอบรับจากมุมมองคนทำงาน และได้เห็นว่าคนในวิชาชีพจริงๆ เค้ามองมันเป็นยังไง ใช่สิ่งที่เค้ามองหาไหม ขาดอะไรไปหรือไม่
              </p>
              <br/>
              <p>
                <strong>Craft Story-telling :</strong> แนะนำแนวทางในการเล่าเรื่องงาน และตัวของคุณ ที่น่าสนใจสำหรับคนดู และ เหมาะกับตัวคุณ
              </p>
              <br/>
              <p>
                <strong>Learn Possibility :</strong> วิธีการนำเสนอข้อมูล เรื่องราวที่น่าสนใจที่เหมาะกับงานของคุณมากกว่านี้ที่คุณอาจไม่เคยคิดถึงมันมาก่อน
              </p>
              <br/>
              <p>
                <strong>Organize :</strong> การ Review ทำให้คุณมีการพัฒนา มีระบบในการเรียบเรียงข้อมูลที่ดีขึ้น รู้ว่าคุณควรเอาอะไรขึ้นก่อนหลัง
              </p>
              <br/>
              <p>
                <strong>Direction Alignment :</strong> ทิศทางของคุณ ตัวตนของคุณ จะชัดเจนได้มากกว่านี้ เพียงแค่ปรับทิศทางทางการเล่าเรื่อง และ การแสดงกราฟฟิค ได้แนวทางพัฒนา ที่คุณอาจไม่ได้นึกถึง 
              </p>
              <br/>
              <p>
                <strong>Yes No Ok? :</strong> เรียนรู้ว่างานที่มีในนี้ คุณควรใส่ ควรเน้น ควรเอาออก หรือควรจะทำกราฟฟิคใหม่
              </p>
              <h3>ทำไมควรจะต้องรับการ Review ?</h3>
              <p>
                คำตอบสั้นๆ เพื่อ Portfolio ที่ดียิ่งกว่าเดิม !
              </p>
              <p>
                เคยไหม? เวลาทำพอร์ตฟอลิโอแล้วไม่รุ้ว่ามันดีพอแล้วหรือยัง เราทำแบบนี้โอเคหรือเปล่า?
                แล้วในสายตาผู้ว่าจ้าง เค้าเห็นอะไรในตัวเราอย่างที่อยากให้เค้าเห็นไหม?
                ใส่งานนี้ก่อนหรือหลังดี? ใส่อะไรดี? งานมีน้อยทำไงดี? 
                ทำยังไง ให้มันเจ๋งกว่านี้?
              </p>
              <p>
                สารพัดคำถามที่ถามใครก็ไม่ได้ หาใน Internet ก็ไม่มีใครจะแนะนำได้ตรงกับคุณอย่างแท้จริง เพราะต่างคน ต่างมีความพิเศษเฉพาะตัว ที่สูตรตายตัวไม่ได้ทำให้ผลงานออกมาดีแบบคุณ แต่อาจจะเป็นแบบใครเขาก็ไม่รู้ แล้ว Portfolio  ของคุณทำไมต้องเหมือนใคร ?
              </p>

              <h3>สำหรับใคร?</h3>
              <ul>
                <li>นักเรียน/นักศึกษาที่กำลังทำ Portfolio เพื่อเรียนต่อปริญญาตรี หรือ ปริญญาโทคณะสถาปัตยกรรมศาสตร์ทั้งในและนอกประเทศ</li>
                <li>สถาปนิกที่กำลังสมัครงานในฝันทั้งในและนอกประเทศ</li>
                <li>บริษัทสถาปนิกที่อยากปรับแก้และยกระดับ Portfolio ของบริษัท</li>
              </ul>

              <h3>สิ่งที่จะได้จาก Portfolio Review</h3>

              <ul>
                <li>
                  Flip Test Score (ก่อน/หลัง)
                </li>
                <li>
                  Comment อย่างละเอียดตามประเด็นดังนี้ :
                  <ul>
                    <li>
                      Graphic Design
                    </li>
                    <li>
                      Ease of Use (Usability)
                    </li>
                    <li>
                      Layout
                    </li>
                    <li>
                      Typography
                    </li>
                    <li>
                      Storytelling / Narrative
                    </li>
                    <li>
                      Content Grouping
                    </li>
                    <li>
                      Work Selection
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="col col-md-12">
              <p>
                ระยะเวลารอ :  4~5 วัน ครั้งหลังที่เป็นคอมเม้นท์กลับไปมาอาจจะใช้เวลา 1-4วัน แทน
              </p>
              <p>
                วิธีการสื่อสาร : Email, Skype (Share Screen ได้) หรือ Google Hangout
              </p>
              <h3>ตัวอย่างงาน</h3>
              <div class="col col-md-12 text-center">
                <div class="col-md-6">
                  <img class='img img-responsive'src="{{asset 'images/hliu-before.jpg'}}">
                  <br>
                  <p><strong>BEFORE :</strong> Portfolio ของ Heidi Liu ก่อนหน้าเข้าคอร์ส Portfolio Review ปกดูไม่สามารถสื่อสารได้ตรงกับใจความที่นักออกแบบต้องการสื่อ เพราะไม่มีแก่นที่ชัดเจน นอกจากสไตล์ แต่ทำให้ดูรก และ ไปในแนวทางของศิลปกรรมมากกว่า งานออกแบบที่ใช้ระบบการจัดการพื้นที่ แต่พอเข้ามาในเล่มสไตล์จากปกนั้นก็ไม่ได้ไปในทางเดียวกับงานข้างใน และในตัวงาน และตัวกราฟฟิคยังสามารถปรับแก้ เพื่อให้เล่าความคิด และเรื่องราวของงานได้น่าสนใจกว่านี้</p>
                  <br>
                </div>
                <div class="col-md-6">
                  <img class='img img-responsive'src="{{asset 'images/hliu-after.jpg'}}">
                  <br>
                  <p><strong>AFTER :</strong> Portfolio ของ Heidi Liu หลังจากร่วมคอร์ส Portfolio Review ได้ปรับ Branding, Format, Storytelling, Layout and Graphic design รวมไปถึงแนวทางในการปรับและ Update กราฟฟิคและ Diagram ที่จะช่วยในการสื่อสารแสดงข้อมูล</p>
                  <br>
                </div>
              </div>


                <p>
                  Portfolio เป็นเหมือน Collection ที่รวมเรื่องราวเด็ดๆที่เล่าเกี่ยวกับตัวเรา ความสามารถ และประสบการณ์ในสายงานของเรา ผ่านภาษาภาพ ภาษาสากล
                  และทำหน้าที่เป็น.. ใบเบิกทางที่ทำให้คนภายนอก คนที่เราต้องการสื่อสาร เค้าสนใจเรา และยอมรับเราเข้าไป ณ จุดนั้นกับเค้าด้วย
                </p>
                <br/>
                <p>
                  การออกแบบช่วยเพิ่มคุณค่าให้กับผลิตภัณฑ์ Portfolio ก็เหมือนกัน Portfolio ที่ผ่านการใส่ใจในการจัดวาง เลือกวิธีการนำเสนอ การกำหนดทิศทางในการเล่า การแสดงใจความสำคัญ ออกให้ชัดเจน สวย และ จับใจคนอ่าน ก็ไม่ได้เกิดขึ้นได้ จากการทำ Portfolio ครั้งแรก แต่มันมาจากการขัดเกลา ปรับปรุง พัฒนาการออกแบบ Portfolio ของเราเอง ให้เล่าเรื่องของเรา แบบของเรา ความเท่ห์แบบเราให้ได้ดีที่สุด 
                </p>
                <br/>
                <p>
                  จริงอยู่ มีคนเก่งก็มีคนเก่งกว่า แต่คุณต้องแสดงความเจ๋งที่สุดในแบบของคุณ เพราะนี่คือ Portfolio ของคุณ เพราะฉะนั้นคุณต้องดึงมันออกมาให้ได้มากที่สุด 
                  <strong>Let’s be Perfect, in the way you are!</strong>
                </p>
                <br/>
                <p>
                  แล้วคุณสงสัยไหม? ว่าคุณจะดีกว่าวันนี้ได้อีกสักเท่าไหร่? อยากลองดึงมันออกมาไหม? พลังข้างในตัวคุณ? 
                  ถ้าสนใจ มา Portfolio Review กัน !
                </p>
            </div>

            <div class='col col-sm-12 col-md-12 call-to-action'>
              <div class='col col-md-3 img-col'>
                <img class='img img-circle img-responsive'src="{{asset 'images/portfolio-review-250.png'}}">
              </div>
              <div class='col col-md-9'>
                <h2>
                  สนใจ Portfolio Review ติดต่อสอบถามรายละเอียดเพิ่มเติมได้ที่นี่เลยค่ะ
                </h2>
                <a href="/apply" onClick="ga('send', 'event', 'portfolio-review-going-to-apply', 'portfolio-review-going-to-apply');">
                  <button type="button" class="btn custom-btn" >ติดต่อ</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- <div class='container-fluid'>
      <div id='beginner-port-workshop' class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-md-4'>
              <img class='img img-responsive'src="http://placehold.it/500x800">
            </div>
            <div class='col col-md-8'>
              <h2>(1-on-1) 1st Portfolio Workshop : พอร์ตฟอลิโอแรก (Beginner Level)</h2>

              <hr>

              <p>
                สำหรับ : มือใหม่สุดๆ นักเรียนออกแบบ หรือ ผู้ที่มีผลงาน อยากจะรวมเป็น Portfolio แต่ไม่รู้จะเริ่มและทำอย่างไร
              </p>

              <p><strong>สิ่งที่จะได้เรียนรู้จาก Workshop</strong></p>
              <ul>
                <li>
                  พื้นฐานการทำportfolio แนวคิด และวิธีการเล่าเรื่อง
                </li>
                <li>
                  วิธีการใช้โปรแกรม Indesign จัดหน้าและรูปเล่ม พอร์ตของเราให้ดูดีมีสไตล์
                </li>
                <li>
                  แนะนำเทคนิคในโปรแกรมอื่นๆ ที่มีประโยชน์ในการทำกราฟฟิค เพื่อใช้ใน Portfolio เช่น Photoshop, Illustrator
                </li>
                <li>
                  วิธีการออกแบบ Portfolio และ จัดเรียงเรื่องราว การเล่าเรื่องให้เหมาะกับงานของคุณ
                </li>
                <li>
                  การจัดวาง Layout ที่มีประสิทธิภาพ
                </li>
              </ul>

              <p>
                จำนวนครั้งที่เรียน : 6 Online Workshops (เรียนทาง Skype แบบ ตัวต่อตัว)
              </p>
            </div>
            <div class='col col-md-12 call-to-action'>
                <div class='col col-md-3'>
                  <img class='img img-responsive'src="http://placehold.it/300x250">
                </div>
                <div class='col col-md-9'>
                  <h2>อยากลอง 1-ON-1 กันไหม ถ้าสนใจ สามารถลองส่งมา Flip Test ได้ FREE!! ค่ะ</h2>
                  <a href="/apply">
                    <button type="button" class="btn btn-default" >Free Flip Test !</button>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- <div class='container-fluid'>
      <div id='intermediate-port-workshop' class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-md-8'>
              <h2>(1-on-1) Portfolio Makeover Workshop : พลิกพอร์ตใหม่ ในสไตล์คุณ (Intermediate - Advanced Level)</h2>

              <hr>

              <p>
                มา Re-Brand ปรับ Portfolio กันใหม่ ให้สุดเทพ เพื่อคว้างานสถาปัตย์ในฝัน ด้วยWorkshop 1-on-1 ที่จะให้เทคนิค Tricks/Tips ที่หาไม่ได้ใน Internet
                วางแผนใหม่นี้ร่วมกับCoach โดยที่Coachจะให้ความรู้ ที่สามารถนำไปปรับใช้ต่อได้ในอนาคตทั้งในการทำ Portfolioเทพๆตัวเอง หรือของบริษัท หรือจะเอาไปสมัครเรียนก็ได้ ไม่ว่ากัน
              </p>

              <p>
                สำหรับ : นักศึกษาที่เพิ่งจบใหม่, คนที่อยากเปลี่ยนงาน, คนที่มี Portfolioแล้ว แต่คิดว่าตัวเองงานไม่ดี งานไม่พอ หรือ สำหรับfreelance ที่อยากปรับPortfolio เพื่อให้ได้งานที่เพิ่มขึ้น,
                คนที่มี Portfolio อยู่แล้วก่อนหน้านี้ ต้องการปรับปรุง ยกเครื่อง Portfolio ใหม่ ต้องการเทคนิค กลยุทธที่เหมาะกับตัวเอง พร้อมกับได้รับ Comment และ คำแนะนำระหว่างการทำ ตัวต่อตัว
              </p>
              <p><strong>สิ่งที่จะได้จาก Workshop :</strong></p>

              <ul>
                <li>
                  ร่วมวางกลยุทธ (Startegy) ในการจัด Portfolio ใหม่ กับCoach เพื่อสร้าง Portfolio ใหม่ที่เหมาะกับเรา : Coach จะร่วมดูงานทั้งที่มีใน Portfolio และไม่มีว่า อันไหนควรจะขยายควรจะตัดทิ้ง และควรจะปรับแก้
                </li>
                <li>
                  Storyboard ใหม่ของ Portfolio และ Story ที่จะเล่าของ Portfolio นี้
                </li>
                <li>
                  เทคนิคในการทำงานใน Indesign และ การใช้โปรแกรมอื่นๆ เพื่อ ช่วยให้ทำงานมีประสิทธิภาพ และ Portfolio สวย
                </li>
                <li>
                  เทคนิคทาง Layout, Typography และ Graphic Design ที่สามารถนำมาปรับใช้ในการทำ Portfolio
                </li>
                <li>
                  Portfolio Review 2 ครั้ง (mid และ Final) หลังจากวางแผน ปูเรื่องราว และให้เวลานักเรียนไปทำพอร์ตฟอลิโอ จะกลับมารีวิว และแจกแจง comment ละเอียด พร้อมตัวอย่างและคำแนะนำในการปรับแก้
                </li>
              </ul>

              <p>
                จำนวนครั้งที่เรียน : 6 Online Workshops (เรียนทาง Skype แบบ ตัวต่อตัว)
              </p>

              <p>
                * ก่อนหน้าเริ่มเรียน ต้องส่งข้อมูลมาก่อน 1 วัน เพื่อให้ Coach ได้ศึกษาข้อมูล และเตรียมตัว
              </p>

            </div>

            <div class='col col-md-4'>
              <img class='img img-responsive'src="http://placehold.it/500x800">
            </div>

            <div class='col col-md-12 call-to-action'>
              <div class='col col-md-3'>
                <img class='img img-responsive'src="http://placehold.it/300x250">
              </div>
              <div class='col col-md-9'>
                <h2>อยากลอง 1-ON-1 กันไหม ถ้าสนใจ สามารถลองส่งมา Flip Test ได้ FREE!! ค่ะ</h2>
                <a href="/apply">
                  <button type="button" class="btn btn-default" >Free Flip Test !</button>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div> -->
    <div class="container-fluid">
      <div id='coach' class="row detail-container">
        <div class="container">
          <div class="row">
            <div class="col col-md-12">
              <h2>
                Coach
              </h2>
              <hr>
              <img class='img img-responsive img-circle'src="{{asset 'images/jom.jpg'}}">
              <h3 class='text-center'>Jom Dream Action </h3>
              <div class="col col-md-8 col-md-offset-2 text-center">
                <p>
                  จอม หรือ เอกพนิฏฐ์ นาคนคร คือ ภูมิสถาปนิกที่มีประสบการณ์ในการทำงานทั้งในประเทศไทย สิงคโปร์ และ อเมริกา (ปัจจุบัน) ร่วม 10 ปี โดยที่ จอม มีประสบการณ์ในการผลิต Portfolio ที่คว้างานได้จากการส่งข้ามโลก จากไทย มาอเมริกา และ แม้แต่ในระยะเวลาวิกฤตในอเมริกาที่การจ้างงานเป็นสิ่งที่แทบเป็นไปไม่ได้ Portfolio ที่จอมสร้าง ก็พาเธอคว้างานในเวลาคับขันมาได้ราวกับปาฏิหารย์
                </p>
                <p>
                  นอกจากนั้น ในเวลาที่ได้ทำงานในบริษัทที่ ประเทศสหรัฐ อเมริกา จอมก็ได้มีส่วนร่วม เป็นกรรมการในการคัดเลือกผู้สมัครเพื่อเข้ามาทำงาน ทั้งในขั้นตอน การคัดเลือกเบื้องต้น ไปจนถึงการสัมภาษณ์งาน ทำให้จอมมีความรู้ ความเข้าใจ และความเชี่ยวชาญ
                  จอมมีประสบการณ์และมีความเชี่ยวชาญทั้งในการสร้าง Portfolio  ไปจนถึง มุมมองของกรรมการในการคัดเลือก
                  จอมจะโฟกัสในด้านการนำความรู้ ความเชี่ยวชาญทั้งในการผลิต Portfolio ให้มีคุณภาพแนวหน้า, การวิเคราะห์คุณภาพ และแนวทางพัฒนาของ  Portfolio ของคุณ
                  Portfolio ที่ดีอย่างที่สุดเท่านั้น ที่จะสามารถสร้างปาฏิหารย์ ให้พาเราไปถึงฝันได้ 
                  ปาฏิหารย์ ไม่ได้มาจากดวงชะตา แต่มาจากตัวเรา ที่ทุ่มเทและสร้างโอกาสที่จะพาตวเราไปถึงฝันนั้น

                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div id='big-quote'class="row detail-container">
        <div class="container">
          <div class="row">
            <div class="col col-md-12 text-center">
              <h2>
                "There is no miracle out there, you make one."
              </h2>
              <p>
                Jom Dream Action
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id='faq' class='container-fluid'>
      <div  class='row detail-container'>
        <div class='container'>
          <div class="row">
            <div class='col col-md-12'>
              <h2>FAQs</h2>
              <hr>

              <h3>Q : รับทำ Portfolio ไหม ?</h3>
              <p>A : ไม่รับค่ะ Dream Action ช่วยในการเตรียมตัว แนะนำ สอนการใช้เครื่องมือ และ ช่วยกันวางเทคนิคในการทำ Portfolio ให้มีคุณภาพที่ดี ปรับมาตรฐานให้สูงขึ้น เพื่อที่ได้โดดเด่น และสามารถเอาไปใช้ตามวัตถุประสงค์ได้ค่ะ</p>

              <h3>Q : รีวิว แล้วได้อะไร ?</h3>
              <p>
              A : ได้รับแนวทางในการพัฒนา เพื่อให้การแสดงผลงานของเรา มันน่าสนใจ และ ขายออก!! 
              การยืมสายตาคนอื่น และคนที่มีประสบการณ์และมุมมองในด้านวิชาชีพ สามารถชี้แนะข้อเสีย ข้อควรปรับปรุง สิ่งที่ขาดเพื่อให้เราสามารถพัฒนา Portfolio ได้ การทำเองเป็นสิ่งที่ถูกต้อง แต่การที่ดูเองคนเดียว บางทีเราก็เห็นแต่มุมเดิมๆ และไม่รู้ว่าขาดอะไร และ ก็ทำไป นี่แหละ พอแล้ว แล้วสุดท้ายก็ไม่ได้ดึงคุณภาพของเราออกมาเล่าให้เต็มที่ หรือ พัฒนามันทั้งที่ยังดีกว่านี้ได้อีก
              </p>
              <h3>
                Q : Portfolio Review สอนใช้โปรแกรมสำหรับการทำ Portfolio ไหม?
              </h3>
              <p>
                A : จะแนะนำ Tools ที่เหมาะสม กับแต่ละสถานการณ์ หรือ เทคนิค และ Workflow ที่สำคัญควรใช้ แต่ไม่ลงรายละเอียดในการสอนโปรแกรมในคอร์สนี้ค่ะ แต่ในอนาคตอาจจะมีการจัด เวิร์คชอปแยกออกมา หากมีความต้องการติดต่อมานะคะ
              </p>

              <h3>
                Q : Flip Test เชื่อใจได้แค่ไหน?
              </h3>
              <p>
                A : มาจากประสบการณ์ในการคัดเลือกงาน มากกว่า 8 ปี ในสายวิชาชีพ การวัดใช้มาตรฐานแบบบริษัทที่อเมริกาที่มีการแข่งขันระดับกลางถึงสูง จากมาตรฐานในองค์กรณ์ที่เวลาดูงานสมัครเข้ามา หรือคัดเลือกงานส่งประกวด ก็จะให้เวลา 1 นาทีต่อหนึ่งคน หากน่าสนใจ ก็จะเก็บไว้มาดูละเอียดขึ้นอีกรอบ
                เรื่องการประเมินคุณภาพเป็นเรื่องสำคัญ ไม่มาทำเล่นๆ
              </p>
              <h3>
                Q : Portfolio Review ทำไมจำกัดแค่ 3 เดือน
              </h3>
              <p>
                A : Portfolio Review นั้นไม่จำกัดจำนวน แต่จำกัดขอบเขตระยะเวลา ภายใน 3 เดือน ทั้งนี้ ก็เพื่อประสิทธิภาพที่สูงที่สุดในการพัฒนาผลงาน เพราะว่าในการพัฒนาแก้ไข มีความจำเป็นต้องรักษา Momentum หรือ จังหวะและความเร็วในการทำให้ต่อเนื่อง ไม่ใช่ทำทำแล้วดองทิ้งไว้ เพราะการทิ้งระยะไว้นานๆ จะไม่ทำให้เราได้พัฒนามัน แต่จะทำให้เรามีเวลาเผื่อดองมันเอาไว้ แล้วสุดท้ายก็ไม่มีความก้าวหน้าในการทำ Portfolio ยิ่งถ้ายืดยาวไปจน 1 ปี ผลงานจะเปลี่ยนไป หรือ เป้าหมายทิศทางก็อาจจะเบนไปจากเดิม อาจจะทำให้ระบบโครงสร้างที่วางมาก็อาจจะต้องเปลี่ยนใหม่อีก ดังนั้น การรีวิว คือ การช่วยพัฒนา Portfolio รูปแบบปัจจุบันให้ออกมาให้เร็วที่สุด ดีที่สุด 
              </p>
              <h3>
                Q : มีคอร์สแบบตัวต่อตัวไหม? ที่เหมาะกับความต้องการเฉพาะของแต่ละคน
              </h3>
              <p>
                A : <a href="/apply">ติดต่อสอบถามเพิ่มเติมทางนี้เพื่อคุยขอบเขตและเป้าหมายของคอร์ส เทรนนิ่งเฉพาะที่ต้องการค่ะ</a>
              </p>
              <!-- <h3>
                Q : จ่ายเงินได้ทางไหนบ้าง ?
              </h3>
              <p>
                A : แล้วแต่....(update soon)
              </p> -->

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row final-row">
        <div class='col col-md-12 call-to-action text-center'>
            <img class='img img-circle'src="{{asset 'images/flip-test-250.png'}}">
          <!-- <div class='col col-md-3'>
            <img class='img img-responsive'src="http://placehold.it/300x250">
          </div> -->
          <!-- <div class='col col-md-9'> -->
            <h2>
              สนใจและอยากมี Portfolioที่ดูดีขึ้นคลิ๊กด้านล่างเลยค่ะ
            </h2>
            <a href="/apply" onClick="ga('send', 'event', 'bottom-going-to-apply', 'bottom-going-to-apply');">
              <button type="button" class="btn custom-btn" >ติดต่อ</button>
            </a>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- <div class='text-center'>
      <h3>TESTIMONIAL</h3>
    </div> -->

  </div>
</div>

{{/post}}
