{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
<div class='post-container'>
  <header class="post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class='title'>
      <h2>
        {{title}}
      </h2>
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><p><span class='fa fa-calendar'></span> &nbsp&nbsp{{date format="MMMM D, YYYY"}}</p></time>
    </div>
    {{#author}}
      <div class='author'>
        <a href="{{url}}">
          {{#if image}}
            <img class='img-circle' src="{{image}}" alt="">
          {{/if}}
          <span>{{name}}</span>  
        </a>
      </div>
    {{/author}}  

    <div class='tags text-right'>
      <p>{{tags}}</p>
    </div>
  </header>

  <main class="container content post-content" role="main">
      <article class="row {{post_class}}">
        <div class='col col-md-9'>
          <section class="post-content">
              {{content}}
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=214316472233662";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>

              <div id="fb-root"></div>
          </section>
          <footer class="post-footer">
          {{! Everything inside the #author tags pulls data from the author }}
            <!-- facebook comment -->
            <div class="fb-comments" data-href="http://dreamaction.kurotatsu.co{{url}}" data-numposts="5"></div>
          </footer>
        </div>
        
        <div class='col col-md-3'>
          {{> "sidebar"}}
        </div>  
        
      </article>
  </main>

  
  <aside class="read-next">
      {{#next_post}}
      
      <a class="read-next-story text-center  "  href="{{url}}">
        <div class='{{#if image}}' style="background-image: url({{image}}){{else}}no-cover{{/if}}">
          <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
          </section>
        </div>
          
      </a>
      {{/next_post}}
      {{#prev_post}}
      <a class="read-next-story text-center prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <div class='{{#if image}}' style="background-image: url({{image}}){{else}}no-cover{{/if}}">  
          <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
          </section>
        </div>
      </a>
      {{/prev_post}}
  </aside>
</div>


{{/post}}
