{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<div class='container-fluid'>
  <div class='row head-container' style="{{#if tag.image}}background-image: url({{tag.image}}){{else}}{{#if @blog.cover}} background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <div class='col text-center'>
      <h2>
        {{tag.name}}
      </h2>
      <h4>
        {{#if tag.description}}
            {{tag.description}}
        {{else}}
            A {{pagination.total}}-post collection
        {{/if}}
      </h4>
    </div>
  </div> 

  {{! The main content area on the homepage }}
  <main class="content" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
  </main>
</div>



