{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<div class='container-fluid'>
  <div class='row head-tag-container' style="{{#if tag.image}}background-image: url({{tag.image}}){{else}}{{#if @blog.cover}} background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <div class='col text-center'>
      <h1>
        {{tag.name}}
      </h1>
      <h4>
        {{#if tag.description}}
            {{tag.description}}
        {{else}}
            <!-- A {{pagination.total}}-post collection -->
        {{/if}}
      </h4>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="col col-sm-12">
      {{> "loop"}}
    </div>
  </div>
</div>
